/* This file is for your main application css. */
@import "./phoenix.css";
@import "../node_modules/nprogress/nprogress.css";

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

.phx-no-feedback.invalid-feedback, .phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

// Custom

.xbr-bar {
  //background: #eee;
  padding: 15px 15px 0px 15px;
  border: 2px solid gray;
  border-radius: 8px;
}

.xbr-nopadding {
  padding: 0 !important;
  margin: 0 !important;
}

:root { --size: 0; }

.xbr-input {
  min-width: 10ch;
  max-width: 50ch;
  font-family: monospace;
  font-size: 1.5rem;
  width: calc(var(--size) * 1ch) !important;
  border: none !important;
}

.xbr-placeholder-s {
  width: 28ch !important;
}

.xbr-placeholder-p {
  width: 33ch !important;
}

.xbr-placeholder-o {
  width: 28ch !important;
}

.xbr-entity {
  margin-left: 1ch;
  text-align: center;
}

.xbr-entity-s {
  border: 1px solid yellowgreen !important;
  background-color: lightyellow !important;
}

.xbr-entity-p {
  border: 1px solid skyblue !important;
  background-color: aliceblue !important;
}

.xbr-entity-o {
  border: 1px solid lightcoral !important;
  background-color: mistyrose !important;
}

.xbr-suggestions {
  position: relative;
  display: inline-block;
}

.xbr-suggestions-content {
  //display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  z-index: 1;
}